[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"
numpy = "*"
noise = "*"
pyopengl = "*"
pymesh = "*"

[dev-packages]

[requires]
python_version = "3.8"
